@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@200&family=PT+Serif&display=swap');

body {
    background: url(https://i.imgur.com/dgGT0QL.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: ;
}